.welcome-container {
    padding-top: 10%;
    bottom: -100px;
    height: 100%;
    text-align: center;
    background: black;
    align-items: center;
    justify-content: center;
    // position: relative;
  }

  .background-container {
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      margin-right: 35%;
      margin-left: 35%;
      border-color: gray;
      height: 80%;
  }

  .welcome-title {
    margin-top: 48px;
    margin-bottom: 48px;
    color: white;
  }
  
  h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 500;
  }
  
    
    .btn-container {
        // border: none;  
        text-align: center;
        color: white;
        position: relative;
        justify-content: center;
        align-items: center;
      }

      button {
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 20px;
        font-size: 2em;
        padding: 5px 15px 5px 10px;
        border: none;
      }

      button:hover {
        font-weight: bold;
        background-color: #a80306;
        box-shadow: 0px 0px 50px 0px #ee292c;
        transition: .3s ease-in-out;
        }
      

  
  
