.welcome-container {
    padding-top: 10%;
    bottom: -100px;
    height: 100%;
    text-align: center;
    background: black;
  }
  
  .welcome-title {
    margin-bottom: 48px;
    color: white;
  }
  
  h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 500;
  }
  
    // button
    .btn-container {
        // border: none;  
        text-align: center;
        color: white;
        position: relative;
        justify-content: center;
        align-items: center;
      }

      button {
        // position: 
        font-size: 2em;
        padding: 5px 15px 5px 10px;
        border: none;
      }

      button:hover {
        box-shadow: 0px 0px 50px 0px rgb(228, 55, 12);
        transition: .8s ease-in-out;
        }
      

  
  
