.welcome-container {
    padding-top: 10%;
    bottom: -100px;
    height: 100%;
    text-align: center;
    background: black;
  }
  
  .welcome-title {
    margin-bottom: 48px;
    color: white;
  }
  
  h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 500;
  }
  
  button {
    margin-right: 30px;
    font-size: 1.2em;
    // padding: 5px 10px 5px 10px;
    // border: none;
  }
  
  // button
  .btn-container {
    // border: none;  
    text-align: center;
    color: white;
  }